<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-cofiguration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration >
	<section-factory>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver		
		</property>
		
		<property name="connection.url">
			jdbc:mysql://192.168.33.151/lojainfo?serverTimezone=UTC
		</property>
		
		<property name="connection.username">
			root
		</property>
		
		<property name="connection.password>
			""
		</property>
		
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect			
		</property>
	
		<property name="show_sql">
			true
		</property>
		
		<property name="hibernate.hbm2ddl.auto">
			update
		</property>
		
		<mapping class="br.edu.com.lojainformatica.model.Cliente" />
		<mapping class="br.edu.com.lojainformatica.model.Hardware" />
		<mapping class="br.edu.com.lojainformatica.model.Vendas" />
		
	
	</section-factory>

</hibernate-configuration>